extends layout

include mixins/_courseCard
include mixins/_pagination

block content
  .container-fluid.jumbotron
    //- p #{title}
  .container
    .row
      .col-md-6.mx-auto
        .input-group.mb-3
          .search
            input.form-control.search__input(type="search" placeholder="Rechercher une activité..." arial-label="Rechercher une activité" name="search")
            .input-group-append
            .search__results
    //- cards
  .container
    .courses
      each course in courses
        +courseCard(course)
    +pagination(page, pages, count)

  //- jumbotron footer
  .jumbotron.jumbotron-fluid.text-black.mt-5.mb-0
    .container.text-sm-center
      a(href="/user/mentor/form")
        h2 Deviens Mentor
        p.lead dd@reversementoring.com






