mixin loginForm()
  form.form(action="/login" method="POST")
    label(for="email" name="Email") Adresse mail
    input.form-control(type="email" name="email" value="exemple@monmail.com")
    label(for="password" name="password") Mot de passe
    input(for="password" name="password" class='form-control' value="mon mot de passe")

