mixin sessionForm(session = {})


  form.form.mx-auto.my-5(action=`/sessions/form/${idCours}` method="POST")
    .form-group
      input.form-control(type="date" name="date" aria-describedby="date" placeholder="Date")
    input.btn.btn-lg.btn-block.mt-5(type="submit" value="Submit")

